:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: smaller;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button {
  border: none;
  background-color: transparent;
}

a {
  color: #130f25;
  text-decoration: none;
}

h2 {
  font-size: 1.5rem;
  @media screen and (max-width: 1000px) {
    font-size: 1.25rem;
  }
}



